# Cấu hình Server
PORT=3000
DRIVE_FOLDER_ID=[Điền ID thư mục Google Drive của bạn vào đây]
DRIVE_DOWNLOAD_FOLDER_ID=[Điền ID thư mục Nhạc của bạn vào đây]

# Cấu hình Cloudflare Tunnel
TUNNEL_TOKEN=[Điền token của Cloudflare Tunnel vào đây]

# Cấu hình ứng dụng
APP_PIN=[Điền mã PIN 6 số của bạn vào đây]
COOKIE_SECRET=[Điền secret key ngẫu nhiên cho cookie ứng dụng vào đây]
CACHE_LIMIT_GB=15 # Hoặc giới hạn dung lượng cache theo ý bạn, ví dụ: 10, 20, v.v.
YTDLP_PATH='/usr/local/bin/yt-dlp' # Đường dẫn đến yt-dlp trên container